{{> head }}

{{> navbar}}


<div class="row">

    <div class="col-8">
        <h1> Party Color</h1>
        <p>
            Officia aliquip culpa labore sunt. Commodo officia adipisicing eiusmod ullamco cillum ipsum ullamco. Do consequat Lorem dolore in est nostrud tempor fugiat ad voluptate dolore consequat.
        </p>

    </div>

    <div class="col-4">
        <img src="assets/img/partycolor.jpg" class="img-thumbnail">

    </div>

</div>

{{> footer }}